@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #4F46E5;
  /* Indigo 600 */
  --color-secondary: #10B981;
  /* Emerald 500 */
  --color-dark: #1F2937;
  /* Gray 800 */
  --color-light: #F3F4F6;
  /* Gray 100 */
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 font-sans;
  }
}